* {
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  font-size: 4em;
  color: #006600;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-and-score p {
  font-size: 2em;
  font-weight: 600;
  color: #4d0066;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#canvas {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
